@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

a ,a:focus, a:hover {
    color: black;
}

.bg-white {
    background: white
}

.bg-orange {
    background-color: #ff6966;
}

.text-black {
    color: black;
}

.text-orange {
    color: #ff6966;
}
.text-shit{
    color: #bfb787;
}

.text-white {
    color: white;
}

.text-grey {
    color: #a4a4a4;
}

.text-blue{
    color: #93cbf1;
}

.bg-grey-white{
    background: #f0f0f0;
}


.padding-xxs {
    padding-left: 5px;
}

.back {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.back .box {
    color: #FFFFFF;
}

.second-title {
    border-style: solid;
    border-width: 1px 0;
    border-color: #e3e3e3;
    background: #f0f0f0;
    color: #a4a4a4;
}
.title {
    border-style: solid;
    border-width: 1px 0;
    border-color: #e3e3e3;
    background: #f0f0f0;
    color: #a4a4a4;
    padding:1.8rem 0 1.4rem;
}

.flag-border {
    line-height: 18px;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
}

.icon {
    width: 24px;
    height: 24px
}

.icon .icon-text {
    position: relative;
    top: -14px;
    left: -8px
}

.activity-img {
    letter-spacing: normal;
    position: relative;
    text-align: right;
    top: -22px;
    right: 2.5em;
}

.activity-arrow {
    position: absolute;
    top: 20%;
    right: 10px
}
.hide{
    display: none;
}
.button{
    padding: 5px 12px;
    color: white;
    background: #ff6966;
}

.am-icon-border{
    border-width: 2px;
}

hr {
    margin: 0;
}

.am-padding-vertical {
    padding: 23px 0;
}
.border{
    border: 1px solid #eeeeee;
}
.border-radius{
    border-radius: 5px;
}

.equal-height{
    margin-bottom:-3000px; padding-bottom:3000px;
}

.am-header-default .am-header-nav {
     color: black;
}

.am-btn:focus, .am-btn:hover {
    color: white;
    text-decoration: none;
}
input:not([type=radio]):not([type=checkbox]), select {
     vertical-align: bottom;
}
input{
    text-align: center;
    border-width: 0 0 2px ;
    width:50%
}

.liner {
    height: 8px;
    background: linear-gradient(to bottom, #a4a4a4, #f0f0f0);
}
.button1 {
    width: 6rem;
    height: 2.3rem;
    color: white;
    background-color: #ff6966;
    border-radius: 3px;
    text-align: center;
    vertical-align: text-top;
}

